.contentImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}
